<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Options</title>
</head>
<body>
      <label for="ip">Target IP</label>
    <h2>Choose Options and Customize Values</h2>
    <form action="http://{{ addr }}/api" id="form1" method="POST">
      <label for="cmd"> Command</label>
      <input type="text" name="cmd" value="seek"></input>
      <label for="param">Param</label>
      <input type="text" name="param" value="30"></input>
      <button type="button" onclick="sendData(0)">Send Data</button>
    </form>
    <form action="http://{{ addr }}/api" id="fullscreen" method="POST">
      <label for="cmd"> Command</label>
      <input type="text" name="cmd" value="fullscreen"></input>
      <label for="param">Param</label>
      <input type="text" name="param" value="false"></input>
      <button type="button" onclick="sendData(1)">Send Data</button>
    </form>
    <form action="http://{{ addr }}/api" id="pause" method="POST">
      <label for="cmd"> Command</label>
      <input type="text" name="cmd" value="pause"></input>
      <label for="param">Param</label>
      <input type="text" name="param" value="false"></input>
      <button type="button" onclick="sendData(2)">Send Data</button>
    </form>
    <button type="button" onclick="cycle(0)">Cycle Audio</button>
    <button type="button" onclick="cycle(1)">Cycle Sub</button>
    <script>
        
function sendData(id) {
    var forms = ["form1","fullscreen","pause"];
    var form = document.getElementById(forms[id]);
    var formData = new URLSearchParams(new FormData(form)).toString();
    var xhr = new XMLHttpRequest();
    xhr.open('POST', form.action, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
        xhr.abort(); // This aborts the request and can lead to the closure of the underlying connection
    }
};
    xhr.send(formData+"\r\n");
    // toggle bools after send
    if (id == 1 || id == 2) {
	var v = !(String(form.elements["param"].value).toLowerCase() === 'true');
	form.elements["param"].value = v;
    }
    // toggle fullscreen
}
function cycle(num) {
          var msg;
          if ( num == 0 ) {
              // send cycle=audio
              msg = "cycle=audio"
          } else {
              msg = "cycle=sub"
              // send cycle=subs
          }
          console.log("sent:"+msg)
          var xhr = new XMLHttpRequest();
          var form = document.getElementById("form1"); // necessary to send to right url
          xhr.open('POST', form.action, true);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function() {
              if (xhr.readyState == XMLHttpRequest.DONE) {
                  xhr.abort(); // This aborts the request and can lead to the closure of the underlying connection
              }
          };
          xhr.send(msg+"\r\n");
      }

    </script>
</body>
</html>
